
<div class="jumbotron">
    <h1>Sitio de sismos</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Mapa de sismos</h2>
        <div id='myMap' style="position:relative; width:800px; height:400px;"></div>
        <div>
            <input type="hidden" id="mapdata" value= myDat.location />
            <div id="webjob"></div>
            <div id="message"></div>
        </div>
    </div>
</div>

