
<div class="jumbotron">
    <h1>Sitio de sismos</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Mapa de sismos</h2>
        <div id='myMap' style="position:relative; width:400px; height:400px;"></div>
    </div>
</div>

